article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.wrapper__small {
  max-width: 780px;
  margin: 0 auto; }

.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 60px solid #151515;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
  position: absolute;
  top: -60px; }
  @media all and (max-width: 770px) {
    .hex:before {
      border-left: 75px solid transparent;
      border-right: 75px solid transparent; } }
  @media all and (max-width: 580px) {
    .hex:before {
      border-left: 50px solid transparent;
      border-right: 50px solid transparent; } }

.hex {
  float: left;
  width: 208px;
  height: 120px;
  background-color: #151515;
  position: relative;
  margin: calc(60px + 20px) 10px 0; }
  @media all and (max-width: 770px) {
    .hex {
      width: 150px;
      height: 86.60px; } }
  @media all and (max-width: 580px) {
    .hex {
      width: 100px;
      height: 57.74px;
      margin: none; } }

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -60px;
  border-top: 60px solid #151515;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent; }
  @media all and (max-width: 770px) {
    .hex:after {
      border-left: 75px solid transparent;
      border-right: 75px solid transparent; } }
  @media all and (max-width: 580px) {
    .hex:after {
      border-left: 50px solid transparent;
      border-right: 50px solid transparent; } }

.hexagon {
  position: relative;
  width: 250px;
  height: 144.34px;
  margin: 72.17px 0;
  background-size: auto 288.6751px;
  background-position: center; }
  @media all and (max-width: 580px) {
    .hexagon {
      width: 100px;
      height: 57.74px;
      margin: 28.87px 0;
      background-size: auto 115.4701px; } }

.hexagon1 {
  background-image: url("./assets/proj1.jpg"); }

.hexagon2 {
  background-image: url("./assets/proj2.jpg"); }

.hexagon3 {
  background-image: url("./assets/proj3.jpg"); }

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 176.78px;
  height: 176.78px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 36.61px; }
  @media all and (max-width: 580px) {
    .hexTop,
    .hexBottom {
      width: 70.71px;
      height: 70.71px;
      left: 14.64px; } }

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 250.0000px;
  height: 144.33756729740645px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit; }
  @media all and (max-width: 580px) {
    .hexTop:after,
    .hexBottom:after {
      width: 100.0000px;
      height: 57.73502691896258px;
      -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
      transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px); } }

.hexTop {
  top: -88.3883px; }
  @media all and (max-width: 580px) {
    .hexTop {
      top: -35.3553px; } }

.hexTop:after {
  background-position: center top; }

.hexBottom {
  bottom: -88.3883px; }
  @media all and (max-width: 580px) {
    .hexBottom {
      bottom: -35.3553px; } }

.hexBottom:after {
  background-position: center bottom; }

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 250.0000px;
  height: 144.3376px;
  z-index: 2;
  background: inherit; }
  @media all and (max-width: 580px) {
    .hexagon:after {
      width: 100.0000px;
      height: 57.7350px; } }

.hero {
  height: 100vh;
  background-image: url("/public/assets/hero.jpg");
  background-size: 100% 100%; }
  @media all and (max-width: 580px) {
    .hero {
      background-size: 200% 100%;
      background-position: center; } }
  .hero header {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 65px 0; }
    .hero header p {
      color: white;
      margin: 0;
      font-size: 1.6rem; }
  .hero h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-size: 3.5rem; }
    .hero h1 span {
      color: #10db65; }

nav {
  background: white; }
  nav ul {
    list-style: none;
    padding: 0; }
  nav a {
    display: block;
    padding: 20px;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #151515;
    text-decoration: none;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s; }
    nav a:hover {
      background: #0b9444;
      color: white; }

@media all and (min-width: 581px) {
  button {
    display: none; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media all and (max-width: 580px) {
  nav {
    text-align: center; }
  button {
    text-align: center;
    width: 100%;
    border: none;
    background: white;
    display: block;
    padding: 20px;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #151515;
    text-decoration: none;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
    font-size: 3rem; }
    button:hover {
      background: #0b9444;
      color: white; }
  ul {
    display: none; } }

#aboutMe {
  padding: 0 0 65px; }
  #aboutMe header {
    background: #0b9444;
    width: 100%; }
    #aboutMe header h2 {
      color: white;
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: bold;
      padding: 35px 0;
      text-align: center; }
  #aboutMe h3 {
    margin-top: 40px;
    color: #0b9444;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem; }
  #aboutMe .subheading {
    color: #151515;
    text-align: center;
    font-size: 2.5rem; }
  #aboutMe img {
    margin: 40px auto 0;
    display: block; }
  #aboutMe .profile {
    text-align: center;
    color: #818181;
    margin-top: 20px;
    padding: 10px 80px; }
    @media all and (max-width: 580px) {
      #aboutMe .profile {
        padding: 10px 20px; } }
  #aboutMe button {
    display: block;
    margin: 20px auto;
    width: 80px;
    background: #151515;
    color: white;
    font-family: "Open Sans", sans-serif;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    padding: 5px 0;
    text-transform: uppercase; }

#skills {
  background: #0b9444;
  padding: 50px 0 80px; }
  #skills h2 {
    margin: 0;
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center; }
  #skills .subHeading {
    margin: 0;
    color: #151515;
    font-size: 2.5rem;
    margin-bottom: 20px; }
    @media all and (max-width: 770px) {
      #skills .subHeading {
        text-align: center;
        padding: 0 20px; } }
  #skills button {
    display: block;
    margin: 150px auto 20px;
    width: 200px;
    background: #151515;
    color: white;
    font-family: "Open Sans", sans-serif;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    padding: 15px 0;
    text-transform: uppercase;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s; }
    #skills button:hover {
      background: white;
      color: black; }

.hexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .hexContainer p:not(.subHeading) {
    text-align: center;
    margin: 0;
    line-height: 120px; }
  .hexContainer i {
    font-size: 8rem;
    color: white;
    line-height: 120px; }
    @media all and (max-width: 770px) {
      .hexContainer i {
        line-height: 86.60px; } }
    @media all and (max-width: 770px) {
      .hexContainer i {
        line-height: 57.73px;
        position: relative;
        z-index: 999; } }
    @media all and (max-width: 580px) {
      .hexContainer i {
        font-size: 7rem; } }

.otherSkills {
  margin-top: 100px;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  text-align: center; }
  .otherSkills ul {
    padding: 0;
    margin: 0;
    width: 50%; }
    @media all and (max-width: 580px) {
      .otherSkills ul {
        width: 100%;
        display: block; }
        .otherSkills ul:last-of-type {
          margin-top: 60px; } }
  .otherSkills li {
    list-style: none; }
  .otherSkills h3 {
    color: white;
    font-size: 3.5rem;
    margin: 0; }
  @media all and (max-width: 580px) {
    .otherSkills {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

#projects {
  padding: 50px 0 100px;
  color: white; }
  #projects h2 {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 0; }
  #projects .subheading {
    text-align: center;
    font-size: 2rem;
    margin-top: 0; }
  #projects .seeMore {
    display: block;
    margin: 20px auto 65px;
    width: 180px;
    background: #0b9444;
    color: white;
    font-family: "Open Sans", sans-serif;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    padding: 5px 0;
    text-transform: uppercase; }

.projects__fullbleed {
  background: #151515; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media all and (max-width: 770px) {
    .projects {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .projects .hexagon {
    margin-bottom: 90px; }
    @media all and (max-width: 580px) {
      .projects .hexagon {
        margin: 0; } }
  .projects h3 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .projects p {
    font-size: 1.6rem;
    padding: 0 10px;
    text-align: center; }
  .projects a:not(.hexLink) {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #151515;
    -webkit-transition: border 1s;
    transition: border 1s; }
    .projects a:not(.hexLink):hover {
      border-bottom-color: white; }

@media all and (min-width: 771px) {
  .project {
    width: 33.3333%; } }

@media all and (max-width: 770px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 40px; }
    .project:nth-of-type(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
    .project div {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; } }

@media all and (max-width: 580px) {
  .project {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0; } }

.contactMe {
  text-align: center;
  padding: 40px 0 100px; }
  .contactMe h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
    color: #0b9444; }
  .contactMe .subheading {
    color: #151515;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0; }

.contactFlexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .contactFlexWrapper i {
    font-size: 9rem; }
  .contactFlexWrapper .contactMethod {
    width: 33.3333%; }
    .contactFlexWrapper .contactMethod p {
      font-weight: bolder;
      font-family: "Montserrat", sans-serif;
      color: #0b9444; }
      @media all and (max-width: 770px) {
        .contactFlexWrapper .contactMethod p {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
    .contactFlexWrapper .contactMethod a {
      color: black;
      font-weight: normal;
      font-family: "Open Sans", sans-serif;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .contactFlexWrapper .contactMethod a:hover {
        color: #0b9444; }
  @media all and (max-width: 580px) {
    .contactFlexWrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .contactFlexWrapper .contactMethod {
        width: 100%; } }

.footer__fullBleed {
  background-position: center;
  background-size: 100%; }

.footer__overlay {
  padding: 20px 0 10px;
  background: #070707; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  footer .nameCopy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .nameCopy p {
      margin: 0;
      color: white;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif; }
      footer .nameCopy p span {
        color: #0b9444; }
  footer .logo {
    height: 80px;
    border-radius: 50%;
    position: relative;
    z-index: 19; }
  footer .logoWrap {
    position: relative; }
  footer .logoWrap:after {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    content: '';
    position: absolute;
    top: 48%;
    left: 50%;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer ul li {
      margin: 5px; }
    footer ul a {
      background: white;
      border-radius: 50%;
      line-height: 35px;
      text-align: center;
      display: block;
      width: 35px;
      height: 35px;
      color: #070707;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      footer ul a:hover {
        color: #0b9444; }
  @media all and (max-width: 580px) {
    footer {
      padding: 30px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
