.hero {
	height: 100vh;
	background-image: url('/public/assets/hero.jpg');
	background-size: 100% 100%;
	@media all and (max-width: 580px){
		background-size: 200% 100%;
		background-position: center;
	}
	header {
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		padding: 65px 0;
		p {
			color: white;
			margin: 0;
			font-size: 1.6rem;
		}
	}
	h1 {
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: white;
		font-size: $headerSize;
		span {
			color: lighten($logoGreen, 15);
		}
	}
}
